<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="br.ufpe.ines.decode.plugin.category.command">
      </category>
      <command
            name="Decode Platform Command"
            categoryId="br.ufpe.ines.decode.plugin.category.command"
            id="br.ufpe.ines.decode.plugin.handlerId1">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="br.ufpe.ines.decode.plugin.handlers.ExperimentHandler"
            commandId="br.ufpe.ines.decode.plugin.handlerId1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="CommandLog.toolbars.sampleToolbar">
            <command
                  commandId="br.ufpe.ines.decode.plugin.handlerId1"
                  icon="icons/sample.gif"
                  tooltip="Select Experiment"
                  id="CommandLog.toolbars.SelectExperiment">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
