<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelDecode -->
      <package
            uri="http://www.example.org/modelDecode"
            class="br.ufpe.ines.decode.DecodePackage"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelDecode -->
      <package
            uri="taskDescription"
            class="br.ufpe.ines.decode.taskDescription.TaskDescriptionPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated modelDecode -->
      <parser
            type="taskdescription"
            class="br.ufpe.ines.decode.taskDescription.util.TaskDescriptionResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelDecode -->
      <package
            uri="measurements"
            class="br.edu.ufpe.ines.decode.taskDescription.measurements.MeasurementsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelDecode -->
      <package
            uri="artifacts"
            class="br.ufpe.ines.decode.artifacts.ArtifactsPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelDecode -->
      <package
            uri="questionnaire"
            class="br.edu.ufpe.ines.decode.artifacts.questionnaire.QuestionnairePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modelDecode -->
      <package
            uri="aux"
            class="br.ufpe.ines.decode.aux.AuxPackage"/>
   </extension>

</plugin>
